.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.containerProjects {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.title {
    font-size: 2.5rem;
}

@media screen and (max-width: 900px) {
    .containerProjects {
        width: auto;
    }
}