.sectionContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    background-color: #12131de0;
    padding: 0rem 2rem 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    border-radius: 10px;
    width: 100%;
}

.imgPhotoProfile {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 5000px;
    margin-top: 2rem;
}

.title {
    font-size: 2.5rem;
}

.aboutText {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    max-width: 500px;
}

.btn {
    display: inline-block;
    background-color: #5e5efa;
    color: currentColor;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: box-shadow .5s; 
}

.btn:hover {
    box-shadow: inset 12.5em 0 0 0 #2929ff;
    /* box-shadow: inset 0 -3.25em 0 0 #2929ff; */
}

.titleModal {
    font-size: 1.5rem;
}

.animationLeft:hover {
    box-shadow: inset 0 80px #2929ff;
}

.animationRight:hover {
    box-shadow: inset 0 -80px #2929ff;
}

.close {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close svg {
    transition: fill .5s;
}

.close svg:hover {
    fill: #ff1700;
}

@media screen and (max-width: 1030px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media screen and (max-width: 720px) {
    .imgPhotoProfile {
        width: 280px;
        height: 280px;
    }

    .container {
        padding: 0 1rem 2rem;
        border-radius: 0;
    }
}

@media screen and (max-width: 320px) {
    .imgPhotoProfile {
        width: 220px;
        height: 220px;
    }
}