.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222433b5;
    padding: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}