body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: linear-gradient(137deg, #1A1E24 0%, #222747 100%);
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: inherit;
}

p,
h1 {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
