.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 110px;
    font-size: 1.2rem;
    background-color: #0015ff14;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid #fafafa;
}

.error {
    border: 2px solid #d93025;
}

.container input, .container textarea {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    resize: vertical;
    outline: none;
    box-shadow: none;
    border: 3px solid transparent;
    font-family: 'Roboto';
}

/* .container input:focus, .container textarea:focus {
    border: 3px solid #d93025;
} */

.lbl {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.lblError {
    color: #d93025;
    margin-top: 0.4rem;
    font-weight: 300;
}

@media screen and (max-width: 364px) {
    .container {
        border: none;
        width: calc(100vw - 3.5rem);
        padding: 1rem;
    }
}
